

$btn-border-radius: 0;
$btn-border-radius-sm: 0;
$btn-border-radius-lg: 0;

$input-border-radius:0;
$input-border-radius-sm:0;
$input-border-radius-lg:0;

$white: #ffffff;

$primary: #b62320;
$secondary: #775652;
$success: #715b2e;
$info: #ffffff;
$warning: #fddfa6;
$danger: #ba1a1a;
$light: #fffbff;
$dark: #201a19;

@import "components";


